svg{
	stroke:none;
	stroke-width:4;
	circle{
		fill: #ff0000;
	}
	g#ellipses{
		fill: #00ff00;
	}
}

g#examForme{
	//transform:rotate(45deg);
    transform-origin: 50%;
  	animation: animRotaForme 3s linear infinite;
}


/* = = = = = = = = = ANIMATIONS = = = = = = = =  = = = = = = = = */

@keyframes animRotaForme {
  from {
  	transform:rotate(0deg);
  }
  to {
  	transform:rotate(360deg);
  }
}

